.button {
  width: 200px;
  height: 40px;
  font-weight: 500;
  color: black;
  border-radius: 6px;
}

.center {
  composes: button;
  margin: 0 auto 30px;
  background-color: #ddd;
  transition: background-color 250ms ease;
}

.center:hover,
.center:focus {
  background-color: #ccc;
}

.green,
.red {
  composes: button;
  transition: color 250ms ease;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.green:hover,
.green:focus,
.red:hover,
.red:focus {
  color: white;
}
